* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
}

.navbar {
    position: fixed;
}

.primary-color {
    background-color: #3E50B4;
}
.accent-color {
    background-color: #FF3F80;
}

.light-background .primary-text {
    color: #000;
    opacity: 87%;
}
.light-background .secondary-text {
    color: #000;
    opacity: 54%;
}
.light-background .disabled-text {
    color: #000;
    opacity: 38%;
}
.light-background .hidden-text {
    color: #000;
    opacity: 38%;
}

.dark-background .primary-text {
    color: #FFF;
    opacity: 100%;
}
.dark-background .secondary-text {
    color: #FFF;
    opacity: 70%;
}
.dark-background .disabled-text {
    color: #FFF;
    opacity: 50%;
}
.dark-background .hidden-text {
    color: #FFF;
    opacity: 50%;
}

.white-text {
    color: #FFF;   
}
.black-text {
    color: #000;
}

ul {
	float: left;
}
ul li {
	list-style-type: none;
	/*relative positioning for list items along with overflow hidden to contain the overflowing ripple*/
	position: relative;
	overflow: hidden;
}
ul li a {
	font: normal 14px/28px Montserrat; color: hsl(180, 40%, 40%);
	display: block; padding: 10px 15px;
	text-decoration: none;
	cursor: pointer; /*since the links are dummy without href values*/
	/*prevent text selection*/
	user-select: none;
	/*static positioned elements appear behind absolutely positioned siblings(.ink in this case) hence we will make the links relatively positioned to bring them above .ink*/
	position: relative;
}
